@using ScoutsHonour.Enums;
@model ScoutsHonour.Models.RegisterSuccessViewModel
@{
    ViewBag.Title = "Success";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for registering with Scouts Honour.
    </p>
    <p>

        You have been registered as a @Model.Role.ToString() in the @Model.GroupTitle cub pack!<br />

        You have access to the following features:
        <ul>

            @if (Model.Role == Role.Parent)
            {
                <li>Track the badge progress of cubs</li>
                <li>Coming soon: Submit requests to have badges, or parts of the Bronze, Silver &amp; Golder cornerstone badges, signed off by a leader</li>
            }
            else if (Model.Role == Role.Leader)
            {
                <li>Administer cub list</li>
                <li>Track attendance</li>
                <li>Mark off badges for cubs</li>
            }
            else if (Model.Role == Role.Admin)
            {
                <li>Everything. Hi Admin!</li>
            }
        </ul>
    </p>
</div>
