/* pure.css overrides */
html, button, input, select, textarea, .pure-g [class *= "pure-u"] { 
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3, h4 { 
    font-family: 'Segoe UI Light', sans-serif;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.pure-form-aligned .pure-control-group label {
    width: 12em;
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    background-color: #f4f4f4;
}

.input-validation-error {
    border: solid 1px #E94B3B;
}
.field-validation-error {
    color: #E94B3B;
}

/* side-menu.css (pure) overrides */
#menu .pure-menu-heading {
    /*font-family: 'Segoe UI Light', Arial, sans-serif;*/
    font-size: 90%;
    font-weight: bold;
}

#main {
    background-color: #f4f4f4;
}

.content {
    margin: 0;
}

/* media queries */

@media (max-width: 48em) {

    .content {
        padding: 0.5em;
    }

    .content > h2 {
        margin: 0.1em 0 1em 2.6em;
    }

    .sm-hidden {
        display: none;
    }

    .pure-form-aligned input[type=text],
    .pure-form-aligned input[type=password],
    .pure-form-aligned textarea,
    .pure-form-aligned select
    {
        width: 14em;
    }
}

@media (max-width: 30em) {

    .content {
        padding: 0.25em;
    }

    .xsm-hidden {
        display: none;
    }

    .pure-form-aligned input[type=text],
    .pure-form-aligned input[type=password],
    .pure-form-aligned textarea,
    .pure-form-aligned select
    {
        width: 100%;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0.5em;
    }
}

/* custom css starts here */
.header {
    padding: 0;
}

.ui-widget-content {
    background-color: white;
}

.box-1 {
    background-color: #FFF;
    padding: 1em;
    margin: 0 0.5em 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-head {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

    .box-head h3, .box-1 h4 {
        margin: 0.3em 0;
    }

.box-icon {
    display: block;
    float: left;
    margin: 0 0.4em 0.4em 0;
    width: 1.7em;
    height: 1.7em;
    border-radius: 50%;
    line-height: 1.7em;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
}

.bg-success {
    background-color: #23AE89;
    color: #FFF;
}

.bg-info {
    background-color: #2EC1CC;
    color: #FFF;
}

.bg-warning {
    background-color: #FFB61C;
    color: #FFF;
}

.bg-error {
    background-color: #E94B3B;
    color: #FFF;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
    padding: 0.4em 0.7em;
}

/* Event styles */
.pure-control-group h5 {
    margin: 0.2em 0 0.3em 0;
}

.sh-control-separator {
    border-top: solid 1px #ddd;
    max-width: 445px;
}

#goals-list {
    max-width: 445px;
    border-bottom: solid 1px #ddd;
    margin-top: 1em;
}

#goals-list div {
    border-top: solid 1px #ddd;
    padding: 0.1em 0 0.3em 0; 
}

#goals-list a {
    margin-top: 0.85em;
}

    #goals-list em {
        font-size: 0.85em;
        font-weight: bold;
        font-style: normal;
    }

    #goals-list span {
        font-size: 0.9em;
    }

/* Goal / Badge styles */
.medal {
    margin: 0.3em;
    width: 10px;
    height: 10px;
    border: solid 1px #999;
}

.fa-bronze {
    color: #B88A00;
    background-color: #fff;
}
.fa-silver {
    color: #CCCCCC;
    background-color: #fff;
}
.fa-gold {
    color: #FFCC00;
    background-color: #fff;
}

.badge-header {
    height: 40px;
}
.badge-left-header {
    width: auto;
    margin-right: 185px;
}
.badge-right-header {
    float: right;
    width: 180px;
    margin-right: 13px;
}
.badge-section {
    border-top: solid 1px #ccc;
}
.badge-left-section {
    width: auto;
    margin-right: 185px;
}
.badge-right-section {
    float: right;
    width: 185px;
}
    .badge-right-header div.badge-goal, .badge-right-section div.badge-goal {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 60px;
        float: left;
        text-align: center;
    }
.badge-complete {
    font-weight: bold;
}
.badge-part {
    padding: 0.2em 0;
    border-bottom: 1px solid #e0e0e0;
}
.badge-left-part {
    width: auto;
    margin-right: 93px;
}
.badge-right-part {
    float: right;
    width: 90px;
}


/* onoff CSS from http://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
input.onoffswitch-checkbox {
    display: none !important;
}
label.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 30px;
    margin: 0 !important;
    padding: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 12px; color: white; font-family: 'Segoe UI', Trebuchet, Arial, sans-serif; font-weight: normal;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 12px;
    background-color: #EEEEEE; color: #2FCCFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 4px;
    background: #A1A1A1;
    border: 2px solid #FFFFFF; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #2FCCFF;
}
 /* onoff customisation */ 
.onoffwrap {
    clear: both;
    margin-bottom: 5px;
}
.onoffswitch {
    float: left;
}
label.onofftext {
    float: left;
    padding: 4px;
    margin: 0;
}
