@model IEnumerable<ScoutsHonour.Models.Organisation>
@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title)) {
        ViewBag.Title = "Home Page";
    }
}

    <h2 class="content-subhead">How to use this layout</h2>
    <p>
        To use this layout, you can just copy paste the HTML, along with the CSS in <a href="/css/layouts/side-menu.css" alt="Side Menu CSS">side-menu.css</a>, and the JavaScript in <a href="/js/ui.js">ui.js</a>. The JS file uses vanilla JavaScript to simply toggle an <code>active</code> class that makes the menu responsive.
    </p>
    <h2 class="content-subhead">Now Let's Speak Some Latin</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="pure-g">
        <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2875/9069037713_1752f5daeb.jpg" alt="Peyto Lake">
        </div>
        <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm3.staticflickr.com/2813/9069585985_80da8db54f.jpg" alt="Train">
        </div>
        <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm6.staticflickr.com/5456/9121446012_c1640e42d0.jpg" alt="T-Shirt Store">
        </div>
        <div class="pure-u-1-4">
            <img class="pure-img-responsive" src="http://farm8.staticflickr.com/7357/9086701425_fda3024927.jpg" alt="Mountain">
        </div>
    </div>
    <h2 class="content-subhead">Try Resizing your Browser</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

@*<div class="jumbotron">
    <h1>Scouts Honour</h1>
    <p class="lead">A tool for managing cubs.</p>
    <p>
        @Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Attendance Tracking</h2>
        <p>
            Keep track of cubs attendance.
            @foreach (var org in Model)
            {
                <text>@org.Title</text>
            }
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Badge management</h2>
        <p>
            Record cubs attendance at a meeting, and link that meeting to a specific badge activity.
            All cubs will have that badge activity marked off.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Parent involvement</h2>
        <p>Parents can view their cubs progress towards key badges and submit a request to have an activity marked off.</p>
    </div>
</div>*@