@model IEnumerable<ScoutsHonour.Models.Group>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Scouts Honour</h1>
    <p class="lead">A tool for managing cubs.</p>
    <p>
        @Html.ActionLink("Groups", "Index", "Groups", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Attendance Tracking</h2>
        <p>
            Keep track of cubs attendance.
        </p>
        <p><a class="btn btn-default" href="/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Badge management</h2>
        <p>
            Record cubs attendance at a meeting, and link that meeting to a specific badge activity.
            All cubs will have that badge activity marked off.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Parent involvement</h2>
        <p>Parents can view their cubs progress towards key badges and submit a request to have an activity marked off.</p>
    </div>
</div>